/*头部*/

/*导航栏*/
.index_nav{
	display: flex;
	padding: 10px;
	justify-content: space-around;
	border-bottom: 1px solid #D90A00;
}
.index_nav span{
	width: 80px;
	height: 80px;
	border-radius: 15px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.index_nav .navicon1{
	background: #f37157;
}
.index_nav .navicon2{
	background: #3bd6ac;
}
.index_nav .navicon3{
	background: #51bbeb;
}
.index_nav .navicon4{
	background: #ad93ee;
}
.index_nav .nav_title{
	margin-top:5px ;
}
.index_nav img{
	margin-top: 10px;
	width: 50%;
	
}
/*精彩推荐*/

.index_content .content_redline{
	width: 5px;
	height: 25px;
	background: #D90A00;
	margin-right: 10px;
	display: inline-block;
}

.content_title{
	font-size: 24px;
	padding: 15px;
	display: flex;
	align-items: center;
}
/*精彩推荐列表*/
.index_list{
	width: 98%;
    margin-bottom: 100px;
    padding: 1%;
    background: #f6f6f6;
    font-size: 16px;
}
.index_list li{
	width: 48%;
	float: left;
	background: #f6f6f6;
	margin: 1%;
	text-align: center;
}
.index_list .list_pic{
    margin: 0 auto;
    background: #fff;
}
.index_list .list_pic img{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
.index_list .list_info{
	padding: 10px;
	line-height: 20px;
	height: 40px;
	text-align: left;
}
.index_list .list_money{
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: left;
}
.list_money .red{
	color: red;
}
.list_money .saled{
	margin-right: 10px;
}

.index_banner{
	margin-top: 40px;
}